/*-- scss:defaults --*/

$primary: #c34bdb !default;

/*-- scss:rules --*/

.sidebar-title {
  color: #c34bdb;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #c34bdb;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
  color: #c34bdb;
}

.quarto-section-identifier {
  color: #000000;
  font-weight: normal;
}

/* Code ------------------------------------------------ */

/*code {
  color: #373a3c;
}*/

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}

/* code ------------------------------------------------ */

content pre.sourceCode{
    background-color: #FFF;
    margin:1px 0px 12px 0px;
}

code span.fu {
    color: #fc28b9;
}

code span.ot {
    color: #ff6112;
}

code span.cn {
    color: #00e5ff;
}

code span.co {
    color: #05fff7;
    font-style: italic;
}

code span.sc {
    color: #00e5ff
}

code span.dv {
    color: #a95eff;
}

code span.fl {
    color: #a95eff;
}

code span.st {
    color: #a95eff;
}

code span.kw {
    color: #00e5ff;
}


#toc li a {
    padding: 0.4045em 1.618em;
    color: #ffffff;
    position: relative;
    border: none;
    padding-left: 1.618em -4px;
}

#content div.sourceCode {
  background: #fcfcfc;
}
